<div class="container">
  <div class="title">

    <h1 class="title">Crop Yield Prediction</h1>
    <mat-divider class="mat-divider"></mat-divider>
  </div>
  <button
    mat-stroked-button
    color="primary"
    class="but"
    routerLink="/prediction"
  >
    Prediction
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="but"
    routerLink="/crop-wise-analysis"
  >
    Area Wise Analysis
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="but"
    routerLink="/area-prod-analysis"
  >
    Year & Production
  </button>
</div>
